@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To AnagoGic Roach Cinema Hall</h1>
    <h2>Currently running</h2>
    <hr/>
    <img src="/images/avatar2.jpg" width="300" height="300">
    <img src="/images/Drishyam.jpg" width="300" height="300">
    <h2>Upcomming shows</h2>
    <hr/>
    <img src="/images/Pathaan.jpg" width="300" height="300">
</div>
