@{
    ViewData["Title"] = "Login Page";
}

<h1>Login</h1>
<hr/>
<div class="text-center">
 <form  action="/home/validate">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="em" value="" required><br>
  
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="pd" ><br><br>
  
  <input type="submit" value="Submit">
</form> 
</div>